html{
    font-size: 62,5%;
}

body {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 98%;
    margin: 0.3rem;
}

.container > * {
    margin: 0.3rem;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.container.center {
    align-items: center;
}

.background-primary-color {
    background-color: cadetblue;
}

.background-secundary-color {
    background-color: white;
}

.background-contrast-color {
    background-color: darkcyan;
}

.rounded {
    border-radius: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.button {
    border: none;
    cursor: pointer;
}

#foto_perfil {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.information {
    background-color: whitesmoke;
}

form > * {
    margin: 0.3rem;
}

#menu_list > a {
    text-decoration: none;
    color:currentColor;
}

@media screen and (max-width: 480px){
    header, #menu_list {
        display: flex;
        flex-direction: column;
    }

    #menu_list > a {
        margin-top: 0.5rem;
    }

    #foto_perfil {
        width: 70%;
        height: 70%;
        max-width: 9.5rem;
        max-height: 9.5rem;
        border-radius: 50%;
        margin: 0.5rem;
    }
}